.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user
*.Rproj

renv/library/
renv/python/
renv/staging/

data-raw/raw-data/
inst/extdata/generated/

*_cache/
*_files/
*.html
end-to-end-spneumoniae.R
using-your-own-mic-data.R
external-data-structures.R
advanced-feature-and-mixed-model-analysis.R
tests/testthat/Rplots.pdf
*.tar.gz
*.Rcheck/
inst/extdata/examples/spneumoniae-mini/generated/
